{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-12 p-3">
        <div class="card card-dark">
            <div class="card-header">
                <h2 class="card-title p-3 text-center">Top 20 DPS por luta</h2>
                <div class="nav nav-tabs card-header-tabs" id="v-tabs-top20-tab" role="tablist" >
                    <a class="nav-link active" id="v-tabs-top20-bofn-tab" data-bs-toggle="tab"  href="#v-tabs-top20-bofn" role="tab">Beasts of Northrend</a>
                    <a class="nav-link" id="v-tabs-top20-lord-tab" data-bs-toggle="tab"  href="#v-tabs-top20-lord" role="tab">Lord Jaraxxus</a>
                    <a class="nav-link" id="v-tabs-top20-twin-tab" data-bs-toggle="tab"  href="#v-tabs-top20-twin" role="tab">Twin Val'kyr</a>
                    <a class="nav-link" id="v-tabs-top20-anub-tab" data-bs-toggle="tab"  href="#v-tabs-top20-anub" role="tab">Anub'arak</a>
                </div>
            </div>
            <div class="card-body card-compact">
                <div class="tab-content" id="v-tabs-top20-tabContent">
                    <div class="tab-pane active" id="v-tabs-top20-bofn">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_bofn %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }}</td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 {{ player.parse_color }}">{{ "%.2f"|format(player.dps) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-tabs-top20-lord">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_lord %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }}</td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 {{ player.parse_color }}">{{ "%.2f"|format(player.dps) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-tabs-top20-twin">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_twin %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }}</td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 {{ player.parse_color }}">{{ "%.2f"|format(player.dps) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-tabs-top20-anub">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_anub %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }}</td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 {{ player.parse_color }}">{{ "%.2f"|format(player.dps) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 p-3">
        <div class="card card-dark">
            <div class="card-header">
                <h2 class="card-title p-3 text-center">Top 20 médias de parses por classe</h2>
                <div class="nav nav-tabs card-header-tabs" id="v-tabs-top20-tab" role="tablist" >
                    <a class="nav-link active" id="v-tabs-top20-allc-tab" data-bs-toggle="tab"  href="#v-tabs-top20-allc" role="tab">All</a>
                    <a class="nav-link" id="v-tabs-top20-dkni-tab" data-bs-toggle="tab"  href="#v-tabs-top20-dkni" role="tab">DK</a>
                    <a class="nav-link" id="v-tabs-top20-dudu-tab" data-bs-toggle="tab"  href="#v-tabs-top20-dudu" role="tab">Druid</a>
                    <a class="nav-link" id="v-tabs-top20-hunt-tab" data-bs-toggle="tab"  href="#v-tabs-top20-hunt" role="tab">Hunter</a>
                    <a class="nav-link" id="v-tabs-top20-mage-tab" data-bs-toggle="tab"  href="#v-tabs-top20-mage" role="tab">Mage</a>
                    <a class="nav-link" id="v-tabs-top20-pala-tab" data-bs-toggle="tab"  href="#v-tabs-top20-pala" role="tab">Paladin</a>
                    <a class="nav-link" id="v-tabs-top20-prst-tab" data-bs-toggle="tab"  href="#v-tabs-top20-prst" role="tab">Priest</a>
                    <a class="nav-link" id="v-tabs-top20-roge-tab" data-bs-toggle="tab"  href="#v-tabs-top20-roge" role="tab">Rogue</a>
                    <a class="nav-link" id="v-tabs-top20-sham-tab" data-bs-toggle="tab"  href="#v-tabs-top20-sham" role="tab">Shaman</a>
                    <a class="nav-link" id="v-tabs-top20-lock-tab" data-bs-toggle="tab"  href="#v-tabs-top20-lock" role="tab">Warlock</a>
                    <a class="nav-link" id="v-tabs-top20-warr-tab" data-bs-toggle="tab"  href="#v-tabs-top20-warr" role="tab">Warrior</a>
                </div>
            </div>
            <div class="card-body card-compact">
                <div class="tab-content" id="v-tabs-top20-tabContent">
                    <div class="tab-pane active" id="v-tabs-top20-allc">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_allc %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }} </td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 parse-{{ player.parse_color }}">{{ "%.2f"|format(player.avg_parse) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-tabs-top20-dkni">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_dkni %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }} </td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 parse-{{ player.parse_color }}">{{ "%.2f"|format(player.avg_parse) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-tabs-top20-dudu">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_dudu %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }} </td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 parse-{{ player.parse_color }}">{{ "%.2f"|format(player.avg_parse) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-tabs-top20-hunt">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_hunt %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }} </td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 parse-{{ player.parse_color }}">{{ "%.2f"|format(player.avg_parse) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-tabs-top20-mage">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_mage %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }} </td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 parse-{{ player.parse_color }}">{{ "%.2f"|format(player.avg_parse) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-tabs-top20-pala">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_pala %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }} </td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 parse-{{ player.parse_color }}">{{ "%.2f"|format(player.avg_parse) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-tabs-top20-prst">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_prst %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }} </td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 parse-{{ player.parse_color }}">{{ "%.2f"|format(player.avg_parse) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-tabs-top20-roge">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_roge %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }} </td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 parse-{{ player.parse_color }}">{{ "%.2f"|format(player.avg_parse) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-tabs-top20-sham">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_sham %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }} </td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 parse-{{ player.parse_color }}">{{ "%.2f"|format(player.avg_parse) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-tabs-top20-lock">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_lock %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }} </td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 parse-{{ player.parse_color }}">{{ "%.2f"|format(player.avg_parse) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-tabs-top20-warr">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for player in top_20_warr %}
                                    <tr >
                                        <td class="col-md-1">{{ loop.index }} </td>
                                        <td class="col-md-5"><img src="./static/{{ player.class_icon }}" class="class-icon">&nbsp;&nbsp; {{ player.name }}</td>
                                        <td class="col-md-5 faction-{{ player.faction }}">{{ player.guild }} ({{ player.server_region }})</td>
                                        <td class="col-md-1 parse-{{ player.parse_color }}">{{ "%.2f"|format(player.avg_parse) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
